<%= provide(:title, 'Hours') %>
<!-- Custom styles for this template -->
<img class='img-responsive' img alt="campuspano" border="0" src="../assets/campusresized.jpg" title="campuspano" />

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>   <img src="../assets/paw.jpg"alt="User Avatar" class="img-circle" /><b>FACULTY AND STAFF RESOURCES</b> </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body lead">

            <p>
            <p align="center">
</p>
<p>
    Staff and faculty members have the unique opportunity to support the success of students both inside and outside the classroom. In various roles in the
    campus community faculty and staff may become aware of students who are experiencing challenges adjusting to college life or experiencing significant
    emotional distress. Reaching out to these students and expressing concern may be a critical factor in saving a student’s academic career or life.
    Counseling and Psychological Services can provide consultation to faculty and staff around general mental health issues or concerning a particular
    individual student. The “Red Folders” provide a quick overview and guide for dealing with a distressed student. You are also invited to click on the links
    below for some resources to help you as you interact with students around the campus.
</p>
<p align="center">
    <b><i>Referring a Student in Crisis to Counseling and Psychological Services</i></b>
</p>
<p>
    UC Merced’s Counseling and Psychological Services are available for immediate referrals, in-person appointments and phone consultations weekdays from 8:00
    a.m. to 5:00 p.m. When a student is in crisis, faculty and staff frequently accompany that student to Counseling and Psychological Services located in the
    H. Rajender Reddy Health Center on the first floor of the Joseph Edward Gallo Recreation and Wellness Center to be certain that the student receives the
    needed services. Under these circumstances, when possible, it is helpful to call ahead to let us know that you are bringing a student to Counseling and
    Psychological Services for immediate walk-in services.
</p>
<p>
    We encourage members of our campus community to contact Counseling and Psychological Services at 209-228-4266 to consult with a staff clinician regarding
    the referral process for the array of services we offer. You can utilize our website for help in describing concerning symptoms and for tips on how to
    identify and refer a distressed student. Counseling and Psychological Services staff emphasize the value of early intervention and prevention. We look
    forward to working with you in promoting a safe learning environment supporting students’ intellectual, social, physical and emotional development.
</p>


<p>
    <b>
<a><%= link_to "Recognizing Students in Distress", studentdistress_path %></a>
<br>
<a><%= link_to "Steps to Referring Students", referringstudents_path %></a>
<br>
<a><%= link_to "Emotional Debriefing Post-Crisis", postcrisis_path %></a>
<br>
<a><%= link_to "Emergency Contact Information", emergencycontact_path %></a>
</b>
</p>



<p align="center">
    <b>University of California, Merced </b>
    <b>• </b>
    <b>
        Counseling &amp; Psychological Services
        <br/>
    </b>
    P.O. Box 2039
    <br/>
    H. Rajender Reddy Health Center
    <br/>
    Joseph Edward Gallo Recreation &amp; Wellness Center, 2nd Floor
    <br/>
    Merced, CA 95344
    <br/>
    209.228.4266 • <a href="mailto:counseling@ucmerced.edu">counseling@ucmerced.edu</a>
    <a href="file://localhost/javascript/void(0)%3B:*1225490278937*:">
        <br/>
    </a>
</p>
             </p>

          </div>
            <!-- /.panel-body -->
    </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
