<style>

.navbar-inner {
  background-color: #326496;
  border-color: #2a537d;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3f7dbc), to(#326496));
  background-image: -webkit-linear-gradient(top, #3f7dbc, 0%, #326496, 100%);
  background-image: -moz-linear-gradient(top, #3f7dbc 0%, #326496 100%);
  background-image: linear-gradient(to bottom, #3f7dbc 0%, #326496 100%);
  background-repeat: repeat-x;

 box-shadow: #ECC143;
 border-radius:0px;
 border:none;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3f7dbc', endColorstr='#ff326496', GradientType=0);

}

.navbar-inner .nav > li > a {
  color: #ECC143 !important;
  text-shadow: none !important;
}
.navbar-inner .brand { color: #FFFFFF}

ul.nav a:hover { color: #ff8500 !important; }

</style>


  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">UC Merced Health Services</a>
        <div class="nav-collapse">
          <ul class="nav">

            <li><%= link_to "Home",    root_path %></li>
            <li><%= link_to "Insurance", insurance_path %></li>
            <li><%= link_to "About Us", about_path %></li>
            <li><%= link_to "Parents", parents_path %></li>
            <li><%= link_to "Contact", contact_path %></li>

              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clinical Services <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Appointments</a></li>
                    <li><a href="#">Primary Care</a></li>
                    <li><a href="#">HIV Testing</a></li>
                    <li><a href="#">Immunizations</a></li>
                    <li><a href="#">Men's Health</a></li>
                    <li><a href="#">Women's Health</a></li>
                    </ul>
                </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
