      <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">


<script>
  (function() {
    var cx = '002427590089681865656:wb1ta-jywli';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>



<li class="sidebar-search">
<form action="/search"  accept-charset="UTF-8" method="get" id="google-cse-searchbox-form">
  <div>

    <input type="hidden" name="cx" value="002427590089681865656:wb1ta-jywli" />
    <input type="hidden" name="ie" value="UTF-8" />



                            <div class="input-group custom-search-form">
                                <input type="text" name = "q" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>             
                                    <div style="display:none;">
                                        <input type="checkbox"  name="sitesearch" value="http://counseling.ucmerced.edu" checked />Search the UC Merced Counseling & Psychological Services Website<br />
                                    </div>


                            </span>
                            </div>
  </div>
</form>
</li>







<!--
                        <li class="sidebar-search">
                        <form id="searchForm" method="get" action="http://www.google.com/search" class="search">
                            

                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>             
                                    <div style="display:none;">
                                        <input type="checkbox"  name="sitesearch" value="http://health.ucmerced.edu" checked />Search the UC Merced Health Services Website<br />
                                    </div>


                            </span>
                            </div>
                            </form>
                        </li>
                    -->
                         <li>
                            <%= link_to root_path do %>
                            <i class="fa fa-home fa-fw"></i>  Home
                            <% end %>
                        </li>                    
                        <li>
                            <%= link_to hours_path do %>
                            <i class="fa fa-clock-o fa-fw"></i>  Hours
                            <% end %>
                        </li>

                        <li>
                            <%= link_to meetthestaff_path do %>
                            <i class="fa fa-users fa-fw"></i> Meet The Staff
                            <% end %>
                        </li>
                        <li><%= link_to "Parents and Loved Ones", parents_path %></li>

                        <li><%= link_to "Faculty and Staff", facultystaff_path %></li>

                        <li><%= link_to "Crisis Intervention", crisisintervention_path %></li>

                        <li><%= link_to "What to Expect", whattoexpect_path %></li>

                         <li><a href="http://prevent-violence.ucmerced.edu"> Violence Prevention</a></li>

                        <li>
                            <%= link_to mhdays_path do %>
                            <i class="fa fa-calendar fa-fw"></i>  Counseling Calendar Events
                            <% end %>
                        </li>


                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>



        